@import "src/assets/sass/variables.scss";

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.Banner {
  min-height: 100vh;
  position: relative;
  background-color: $primary-black;
  &::before,
  &::after {
    width: 100%;
    content: " ";
    min-height: 100vh;
    position: absolute;
    background-size: contain;
    background-position: 60% 100%;
    background-repeat: no-repeat;
  }
  &::before {
    background-image: url(../../../assets/images/img/shape/shape.png),
      url(../../../assets/images/img/mask/mask.svg);
  }
  .particles {
    top: 0;
    z-index: 10;
    position: absolute;
  }

  .banner_main {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 15rem);
    .column {
      flex: 1 50%;
      &:first-child {
        padding-right: 4rem;
        .title {
          text-align: center;
          h1 {
            margin: 0;
            color: #fff;
            font-size: 45px;
          }
          p {
            margin: 0;
            color: #fff;
            font-size: 20px;
            font-style: italic;
          }
          margin-bottom: 2rem;
        }
        .description {
          p {
            color: #d4d4d4;
            font-size: 18px;
          }
        }
        .actions {
          z-index: 15;
          display: flex;
          margin-top: 40px;
          position: relative;
          justify-content: space-evenly;
        }
      }
      &:last-child {
        z-index: 15;
        position: relative;
        svg {
          .settings {
            -webkit-animation: rotating 10s linear infinite;
            -moz-animation: rotating 10s linear infinite;
            -ms-animation: rotating 10s linear infinite;
            -o-animation: rotating 10s linear infinite;
            animation: rotating 10s linear infinite;
          }
        }
      }
    }
  }
}

@media #{$max-media-desktop-medium} {
  .Banner {
    .banner_main {
      .column {
        &:first-child {
          padding-right: 4rem;
          .title {
            h1 {
              font-size: 35px;
            }
            p {
              font-size: 18px;
            }
            margin-bottom: 2rem;
          }
          .actions {
            display: flex;
            margin-top: 40px;
            justify-content: space-evenly;
          }
        }
        &:last-child {
          svg {
            width: 450px;
            height: 450px;
          }
        }
      }
    }
  }
}

@media #{$max-media-desktop-small} {
  .Banner {
    .banner_main {
      padding: 15px;
      margin-top: 0px;
      flex-direction: column-reverse;
      .column {
        flex: 1;
        width: 100%;
        &:first-child {
          padding: 0;
          .title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h1 {
              font-size: 2rem;
            }
            p {
              margin: auto;
              font-size: 14px;
            }
            margin-bottom: 1rem;
          }
          .description {
            p {
              font-size: 16px;
            }
          }
          .actions {
            flex-direction: column;
            .Button {
              margin-bottom: 2rem;
            }
          }
        }
        &:last-child {
          display: none;
          svg {
            margin: auto;
            width: 350px;
            height: 350px;
            display: block;
          }
        }
      }
    }
  }
}
