@import "src/assets/sass/variables.scss";

.Section {
  padding: 4rem 0;
  position: relative;
  .section-head {
    text-align: center;
    .section-head-line {
      left: 50%;
      top: 10rem;
      width: 60px;
      height: 60px;
      opacity: 0.2;
      border-radius: 50%;
      position: absolute;
      background: transparent;
      transform: rotate(45deg) translate(-50%, 0);
      .line-1,
      .line-2,
      .line-3,
      .line-4,
      .line-5,
      .line-6,
      .line-7,
      .line-8 {
        content: "";
        position: absolute;
        background: transparent;
        border: 1px solid #46bdf4;
      }
      .line-1 {
        top: -15px;
        left: -15px;
        height: 90px;
        width: 90px;
      }
      .line-2 {
        top: -30px;
        left: -30px;
        height: 120px;
        width: 120px;
      }
      .line-3 {
        top: -45px;
        left: -45px;
        height: 150px;
        width: 150px;
      }
      .line-4 {
        top: -60px;
        left: -60px;
        height: 180px;
        width: 180px;
      }
      .line-5 {
        top: -75px;
        left: -75px;
        height: 210px;
        width: 210px;
      }
      .line-6 {
        top: -90px;
        left: -90px;
        height: 240px;
        width: 240px;
      }
      .line-7 {
        top: -105px;
        left: -105px;
        height: 270px;
        width: 270px;
      }
      .line-8 {
        top: -120px;
        left: -120px;
        height: 300px;
        width: 300px;
      }
    }

    .title {
      color: #fff;
      margin: auto;
      font-size: 2rem;
      position: relative;
      text-transform: uppercase;
      &::after {
        left: 50%;
        top: 50%;
        z-index: 10;
        opacity: 0.08;
        font-size: 7rem;
        color: #28384c;
        font-weight: 700;
        position: absolute;
        content: attr(title);
        white-space: nowrap;
        margin-top: -5px;
        text-transform: uppercase;
        font-family: $font-regular;
        -webkit-background-clip: text;
        transform: translate(-50%, -50%);
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(180deg, #305082 0%, #eef3fc 100%);
      }
    }
    .description {
      margin-top: 3rem;
      color: #97afd5;
    }
  }
}

@media #{$max-media-desktop-small} {
  .Section {
    padding: 2rem 0;
    position: relative;
    .section-head {
      text-align: center;
      .title {
        font-size: 1.8rem;
        &::after {
          font-size: 4rem;
        }
      }
      .description {
        margin-top: 3rem;
        color: #97afd5;
      }
    }
  }
}
