@import "src/assets/sass/variables.scss";

@mixin active_item_menu {
  color: #3785f4;
  &::before {
    content: "";
    left: 0;
    width: 100%;
    height: 4px;
    bottom: 0px;
    position: absolute;
    background-color: #3785f4;
  }
}

.Header {
  z-index: 20;
  height: 10rem;
  position: relative;
  .header-fixed {
    left: 0;
    right: 0;
    z-index: 110;
    position: fixed;
    background-color: #000;
    border-bottom: solid 1px #000;
    box-shadow: 0 0 20px 0 rgba(18, 24, 58, 0.08);
    .header_body {
      height: 6rem;
      .logo {
        font-size: 30px;
      }
      .menu {
        ul {
          display: flex;
          li {
            margin: 2rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .logo {
    img {
      width: 25rem;
    }
    display: flex;
    color: #fff;
    font-size: 40px;
    strong {
      color: #407bff;
    }
    .fistname {
      font-weight: 600;
    }
    .lastname {
      font-weight: 600;
    }
    &::before {
      content: "<";
      font-weight: 600;
      color: #407bff;
    }
    &::after {
      content: "/>";
      font-weight: 600;
      color: #407bff;
    }
  }

  .header_body {
    display: flex;
    align-items: center;
    transition: all 0.4s;
    justify-content: space-between;
    .menu {
      z-index: 100;
      display: flex;
      ul {
        display: flex;
        li {
          margin: 2.5rem;
          color: #fff;
          font-size: 1.5rem;
          list-style: none;
          display: flex;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          position: relative;
          &.active {
            @include active_item_menu()
          }
          &:hover{
            @include active_item_menu()
          }
          &:last-child{
            color: #fff;
            &::before {
              display: none;
            }
          }
        }
      }
    }
    .menu {
      display: flex;
      justify-content: space-between;
    }
  }

  .menu_mobile {
    display: none;
  }
}

@media #{$max-media-desktop-medium} {  
  .Header {
    height: 10rem;
    .header-fixed {
      .header_body {
        height: 4.5rem;
        .logo {
          font-size: 25px;
        }
        .menu {
          ul {
            display: flex;
            li {
              margin: 2rem;
              font-size: 1rem;
            }
          }
        }
      }
    }
  
    .logo {
      font-size: 30px;
    }

    .header_body {
      .menu {
        ul {
          display: flex;
          li {
            margin: 2rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}


@media #{$max-media-desktop-small} {
  .Header {
    height: 8rem;
    .header_body {
      display: none;
    }
    .logo{
      font-size: 32px;
    }
    .menu_mobile {
      display: block;
      position: relative;
      box-sizing: border-box;
      &.active{
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        padding: 0rem 1rem;
        position: absolute;
        background-color: #000;
      }
      .menu_mobile_body{
        height: 100vh;
        padding: 2rem 4rem;
        .menu {
          ul {
            padding: 0;
            li {
              width: 100%;
              margin: 2rem 0;
              color: #fff;
              display: flex;
              cursor: pointer;
              list-style: none;
              font-size: 1.5rem;
              position: relative;
              align-items: center;
              justify-content: center;
              padding-bottom: 1rem;
              &.active {
                @include active_item_menu()
              }
              &:hover{
                @include active_item_menu()
              }
              &:last-child{
                color: #fff;
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
      .navbar {
        display: flex;
        padding: 10px;
        margin-top: 10px;
        align-items: center;
        margin-bottom: 10px;
        justify-content: space-between;
        .hamburger-box {
          width: 50px;
          height: 50px;
          cursor: pointer;
          position: relative;
          border-radius: 15px;
          transition-duration: 0.1s;
          background-color: $blue;
          transition-property: opacity, filter, -webkit-filter;
          transition-property: transform, -webkit-transform;
          &::before {
            width: 35px;
            height: 3px;
            top: 18px;
            left: 8px;
            content: "";
            border-radius: 4px;
            position: absolute;
            background-color: $white;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
          &::after {
            width: 25px;
            height: 3px;
            top: 28px;
            left: 8px;
            content: "";
            border-radius: 4px;
            position: absolute;
            background-color: $white;
            transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
          &.active {
            &::after {
              left: 10px;
              width: 30px;
              transform: translate3d(0, -5px, 0) rotate(-135deg);
            }
            &::before {
              left: 10px;
              width: 30px;
              transform: translate3d(0, 5px, 0) rotate(135deg);
            }
          }
          .dropdown {
            &.icon {
              display: none;
            }
          }
        }
      }
    }
  }
}
