@import "src/assets/sass/variables.scss";

@keyframes rotatecw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateacw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.CardCase {
  display: flex;
  .column {
    color: #fff;
    flex: 1 50%;
    &:first-child{
      .card_image{
        padding: 20px;
        height: 400px;
        background-color: inherit;
        border-radius: solid 1px #000;
      }
    }
  }
}
