@import "src/assets/sass/variables.scss";

@keyframes rotatecw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateacw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.CardCase {
  .card_body {
    display: flex;
    .column {
      color: #fff;
      flex: 1 50%;
      &:first-child {
        .card_image {
          margin: 20px;
          height: 400px;
          border: solid 1px #000;
          background-color: #0c0d25;
        }
      }
      &:last-child {
        .card_description {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
  .card_footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@media #{$max-media-desktop-small} {
  .CardCase {
    .card_body {
      flex-direction: column-reverse;
      .column {
        flex: 1;
      }
    }
  }
}
