@import "src/assets/sass/variables.scss";

.Container {
  z-index: 100;
  margin: 0 15rem;
  position: relative;
}

@media #{$max-media-desktop-medium} {
  .Container {
    margin: 0 5rem;
  }
}



@media #{$max-media-desktop-small} {
  .Container {
    margin: 0 1rem;
  }
}