@import "src/assets/sass/variables.scss";

@keyframes rotatecw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateacw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@mixin arrow-model {
  content: " ";
  top: 22px;
  width: 20px;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
}

.Cases {
  display: flex;
  margin: 3rem 0;
  position: relative;
  justify-content: center;
  background-color: $primary-black;
  min-height: calc(100vh - 300px);

  .Container {
    position: relative;
    width: 100%;
  }

  .carousel-wrapper * {
    box-sizing: border-box;
  }

  .carousel-wrapper {
    overflow: hidden;
    width: 100%;
    .carousel {
      width: 100%;
      transform-style: preserve-3d;
      .CardCase {
        top: 0;
        opacity: 0;
        width: 100%;
        margin: auto;
        z-index: 10;
        position: absolute;
        padding-right: 4rem;
        transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
        &.initial,
        &.active {
          opacity: 1;
          position: relative;
          z-index: 100;
        }
      }
    }
    .controls {
      right: 0;
      top: 50%;
      z-index: 100;
      position: absolute;
      .next {
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: relative;
        &::before {
          right: 20px;
          @include arrow-model;
          transform: rotate(-45deg);
        }
        &::after {
          left: 22px;
          @include arrow-model;
          transform: rotate(45deg);
        }
      }
      .prev {
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: relative;
        &::before {
          right: 20px;
          @include arrow-model;
          transform: rotate(45deg);
        }
        &::after {
          left: 22px;
          @include arrow-model;
          transform: rotate(-45deg);
        }
      }
      .point {
        cursor: pointer;
        display: block;
        padding: 15px;
        position: relative;
        &::before {
          content: " ";
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          opacity: 0.5;
          position: absolute;
          border-radius: 50%;
          border: solid 1px #fff;
          background-color: #fff;
          transform: translate(-50%, -50%);
        }
        &.active {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media #{$max-media-desktop-small} {
  .Cases {
    .carousel-wrapper {
      .carousel {
        .CardCase {
          padding: 0;
          margin-bottom: 4rem;
        }
      }
      .controls {
        bottom: 0;
        top: auto;
        right: 10%;
        display: flex;
        position: absolute;
        transform: translate(-50%, 0%);
      }
    }
  }
}
