@import "src/assets/sass/variables.scss";

@keyframes rotatecw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateacw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.Cases {
  display: flex;
  margin: 3rem 0;
  position: relative;
  justify-content: center;
  background-color: #08091b;
  min-height: calc(100vh - 300px);
}
