@import "src/assets/sass/variables.scss";

@keyframes rotatecw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateacw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.Contato {
  padding: 10rem 0;
  position: relative;
  background-color: #0c0d25;
  &::before {
    width: 100%;
    top: 0;
    content: " ";
    height: 100%;
    position: absolute;
    background-size: contain;
    background-position: 60% 100%;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/img/shape/plus.png);
  }
  .contato_main {
    display: flex;
    .column {
      flex: 1 50%;

      .header {
        .title {
          color: #fff;
          font-size: 30px;
        }
        .description {
          color: $text;
          font-size: 18px;
        }
      }

      .field-label {
        color: $text;
        display: block;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .field-item {
        width: 100%;
        .contact-input {
          width: 100%;
          padding: 10px 15px;
          line-height: 21px;
          font-size: 0.9em;
          color: #305082;
          border-radius: 6px;
          transition: all 0.4s;
          border: 1px solid #dbe4f7;
          background-color: transparent;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          margin-bottom: 2rem;
          border-color: rgba(219, 228, 247, 0.25);
        }
        textarea {
          height: 100px;
          resize: none;
          outline: none;
        }
      }

      &:first-child {
        width: 100%;
        .contact {
          padding: 0 5rem;
          .block-contact {
            height: 30rem;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            background-size: 100% 100%;
            background-position: 50% 50%;
            background-image: url(../../../assets/images/img/dots.png);

            .contact-list {
              color: $text;
            }

            .circle-animation {
              top: 50%;
              left: 50%;
              height: 400px;
              width: 400px;
              position: absolute;
              transform: translate(-50%, -50%);
              &:before,
              &:after {
                content: "";
                position: absolute;
                border-radius: 50%;
                border-width: 2px;
                border: 4px solid rgba(151, 175, 213, 0.3);
              }
              &:before {
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border-top-color: #fff;
                border-right-color: #fff;
                animation: rotatecw 30s linear infinite 0s;
              }
              &:after {
                top: 35px;
                left: 35px;
                bottom: 35px;
                right: 35px;
                border-top-color: #fff;
                border-bottom-color: #fff;
                animation: rotateacw 24s linear infinite 0s;
              }
            }
          }
        }
      }

      &:last-child {
        padding: 10px;
        .form {
          .row {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            .col-6 {
              flex: 1 50%;
              margin-right: 20px;
              &:last-child {
                margin-right: 0px;
              }
            }
            .form-send {
              width: 100%;
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}

@media #{$max-media-desktop-small} {
  .Contato {
    .contato_main {
      flex-direction: column;
      .column {
        flex: 1;
      }
    }
  }
}
