@import "src/assets/sass/variables.scss";

@mixin button_active {
    top: 0;
    left: 0;
    content: "";
    z-index: -2;
    width: 100%;
    height: 100%;
    opacity: 1;
    margin: 2px;
    transition: all 0.5s;
    position: absolute;
    border-radius: 40px;
    background-image: none;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

.Button {
  z-index: 2;
  border: none;
  color: #fff;
  cursor: pointer;
  min-width: 200px;
  padding: 16px 20px;
  border-radius: 40px;
  text-align: center;
  position: relative;
  transition: all 0.5s;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 550;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%);
  &.basic {
    &::before {
      @include button_active();
      background-color: #0b0c22;
    }
    &:hover {
      &::before {
        background-color: transparent;
      }
    }
  }
  &::before {
    @include button_active();
  }
  &:hover {
    &::before {
      background-color: #0b0c22;
    }
  }
}

@media #{$max-media-desktop-small} {
  .Button {
    width: 100%;
  }
}
