@import './variables.scss';

body, html {
    margin: 0;
    padding: 0;
    border: none;
    background-color: $primary-black;
    font-family: $font-regular, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6, p, span{
    font-family: $font-regular, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}