$black: #000;
$white: #fff;
$grey: #ababab;
$blue: #3785f4;

$echo: #7AD4E0;
$text: #97afd5;

$primary-black:#08091b; 

$font-bold: "Montserrat Bold";
$font-regular: "Montserrat Regular";
$font-semibold: "Montserrat Semibold";
$font-extrabold: "Montserrat ExtraBold";

$max-media-mobile: "(max-width : 500px)";
$max-media-tablet: "(max-width : 840px)";
$max-media-lying: "(max-width : 1000px)";
$max-media-desktop-small: "(max-width : 1200px)";
$max-media-desktop-medium: "(max-width : 1600px)";